.app{
  height: 100vh;
  background: #16161D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

.main-title{
  letter-spacing: 10px;
  text-transform: uppercase;
}

.spacebar-container{
  user-select: none;
  margin-top: 30px;
  border: 3px solid white;
  width: 30rem;
  text-align: center;
}

.highscore-container{
  text-align: center;
  width: 30rem;
  font-family: 'Orbitron', sans-serif;
  margin-top: 2rem;
  font-size: 3rem;
  letter-spacing: 10px;
}

.powersUp-container{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.powerUp{
  width: 560.77px;
  height: 131px;
  margin-left: 30px;
  border: 3px solid white;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.powerUp:hover{
  background: black;
}

#error-message-container{
  margin-top: 6rem;
  padding: 13px;
  border-radius: 13px;
  background: rgba(248, 1, 1, 0.5);
  visibility: hidden;
}

.error-message-container-hidden{
  display: none;
}