.app{
  height: 100vh;
  background: #16161D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

.main-title{
  letter-spacing: 10px;
  text-transform: uppercase;
}

.spacebar-container{
  user-select: none;
  margin-top: 30px;
  border: 3px solid white;
  width: 30rem;
  text-align: center;
}

.highscore-container{
  text-align: center;
  width: 30rem;
  font-family: 'Orbitron', sans-serif;
  margin-top: 2rem;
  font-size: 3rem;
  letter-spacing: 10px;
}